.container {
    max-width: 90%;
    margin: 0 auto;
  }

.float-right{
    float: right;
}

.title.is-3 code,
.title.is-4 {
  font-weight: 500;
}

a, a:visited {
  color: #42464c;
}

.content a:not(.button):visited {
    color: #42464c;
  }
  
  .content a:not(.button):hover {
    border-bottom-color: none;
  }